.gg {height: 300px;}
.navbar {
    font-weight: 500;
}

.footer {
    height: 150px;
    background: black;
    color: #fff;
}

.cover-404 {
    background: url(../img/404-cover.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}
.cover h1 {
    font-size: 8em;
    font-weight: 700;
    color: white;
}
.cover-accueil {
    background: url(../img/ac-cover.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}
.cover-login {
    background: url(../img/log-cover.jpg) no-repeat center;
    background-size: cover;
    height: 400px;
}